@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media screen and (min-width:601px) {
    div.header{
    font-size:20px;
    }  

    .logo{
        width: 18vw ;
    }
    footer{
        font-size: 20px;
    }

    .new-release img{
        width: 22vw;
    }

}

@media screen and (max-width:600px) {
    div.header{
        font-size:14px;
    }

    .logo{
        width: 18vw ;
    }

    footer{
        font-size: 16px;
    }
    
    .new-release img{
        width: 40vw;
    }
}


.header{
    color: #3f3f3f;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.navbar{
    text-decoration: none;
}

.navbtn{
    font-family: "raleway";
    padding: 4px;
    text-decoration: none;
    color:#3f3f3f ;
}

.navbtn:hover{
    background-color: rgb(64, 64, 64);
    border-radius: 10%;
    color: white;
}

hr{
    border: 0.1px solid #ececec;
}

h2{
    padding: 20px;
    font-size: 6vw;
    font-family: "Raleway";
    text-align: center;
}

.imageflower{
    position: relative;
    width: 100%;
}

.imageflower img{
    width: 100%;
    height: auto;
}

.new-release{
    text-align: center;
}

a{
    text-decoration: none;
}
.description {
    color: inherit;
    padding: 10px;
    text-align: left;
    display: inline-block;
    text-decoration: none;
}

.description h4{
    padding-top: 1vw;
    vertical-align: bottom;
    color: #3f3f3f;
    font-size: 1.5vw;
}

.description p{
    color: #515151;
    font-size: 1vw;
}
    
.flowerbutton{
    text-decoration: none;
    background-color: azure;
    color: #3f3f3f;
    position: absolute;
    border-radius: 30px;
    padding: 10px;
    font-size: 2.5vw;
    bottom: 20%;
    right: 20%;
    font-family: "Raleway";
    transition: ease-in-out 0.3s;
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}

.flowerbutton:hover{
    background-color: lightpink;
    color: white;
    transition: ease-in-out 0.3s;
}

.footer-list{
    padding: 20px 16px;
}

footer{
    font-family: "raleway";
    text-align: center;
}
