@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
}

@media screen and (min-width:631px) {
    div.header{
    font-size:1.5vw;
    }  

    .logo{
        width: 18vw ;
    }

    footer{
        font-size: 20px;
    }

    .new-release img{
        width: 20vw;
    }

    .detailed-body{
        padding: 0 40px;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 25px;
    }

    .half{
        box-sizing: border-box;
        padding: 0 15px;
        flex: 1 0 50%;
    }

    h2{
        font-size: 35px;
    }

    .description h4 {
        font-size: 1.5vw;
    }

    .description p{
        font-size:1vw;
    }
}

@media screen and (max-width:631px) {
    div.header{
        font-size:3vw;
    }

    .logo{
        width: 18vw ;
    }

    footer{
        font-size: 16px;
    }
    
    .new-release img{
        width: 40vw;
    }

    .detailed-body{
        padding: 0 40px;
        margin-bottom: 25px;
    }

    .description h4 {
        font-size: 2vw;
    }

    .description p{
        font-size: 1.5vw;
    }
}


.header{
    color: #3f3f3f;
    font-size: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar{
    text-decoration: none;
}

.navbtn{
    font-family: "raleway";
    padding: 5px;
    text-decoration: none;
    color:#3f3f3f ;
}

.navbtn:hover{
    background-color: rgb(64, 64, 64);
    border-radius: 10%;
    color: white;
}

hr{
    border: 0.1px solid #ececec;
}

h2{
    padding: 20px;
    font-family: "Raleway";
    text-align: center;
}

.filter{
    position: relative;
    width: 100%;
    padding: 20px;
    margin :auto;
}

.filterbutton{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filter button{
    cursor: pointer;
    padding: 8px 10px;
    font-size: 16px;
    font-family: "raleway";
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 1 6px;
}

.filter button.active{
    background: rgb(255, 139, 156);
    color: white;
}

.filtercard{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
background-color: #ececec;
padding: 3px;
border-radius: 8px;
align-items: center;
}

.card.hide{
    display: none;
}
.card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.cardbody{
    padding: 15px 20px 20px;
}

.cardtitle{
    font-family: "raleway";
    font-size: 18px;
    font-weight: 500;
    color: #3f3f3f;
}

.cardtext{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 500;
    color: #3f3f3f;
}

main{
    max-width: 720px;
    margin: 2% auto;
}

.detailed-card{
    box-shadow: 0 6px 6px rgba(#000, 0.3);
    transition: 200ms;
    background: #fff;
}

.detailed-title{
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

.detailed-title h3{
    flex: 0 1 200px;
    text-align: right;
    margin: 0;
    color: #252525;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.icon a{
    color: #000;
    transition: ease 200ms;
}

.icon a:hover{
    color: pink;
}

.half{
    box-sizing: border-box;
    padding: 0 15px;
    flex: 1 0 50%;
}

.featured-text h1{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    line-height: 50px;
    color: #181e28;
}

.featured-text p{
    margin: 0;
    padding: 0;
}

.featured-text p.sub{
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #686e77;
    font-weight: 300;
    margin-bottom: 5px;
}

.featured-text p.price{
    font-family: "Fjalla One", sans-serif;
    color: #252525;
    font-size: 26px;
}

.dtl-image{
    padding-top: 15px;
    width: 100%;
}

.dtl-image img{
    display: block;
    max-width: 100%;
    height: auto;  
}

.dtl-desc{
    margin-bottom: 25px;
}

.dtl-desc p{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 27px;
    font-size: 16px;
    color: #555;
}

.dtl-desc span.stock{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #a1cc16;
}

.dtl-footer{
    padding: 30px 40px;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    position: relative;
}

.action button{
    cursor: pointer;
    border: 1px solid lightpink;
    padding: 14px 30px;
    border-radius: 200px;
    color: #fff;
    background: lightpink;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    justify-content: center;
    transition: 200ms;
}
.action button:hover{
    background: #fff;
    color: lightpink;
}

.imageflower{
    position: relative;
    width: 100%;
}

.imageflower img{
    width: 100%;
    height: auto;
}

.new-release{
    text-align: center;
}

a{
    text-decoration: none;
}

.description {
    padding: 10px;
    text-align: left;
    display: inline-block;
    text-decoration: none;
}

.description h4{
    padding-top: 1vw;
    vertical-align: bottom;
    color: #3f3f3f;
}

.description p{
    color: #515151;
}
    
.flowerbutton{
    text-decoration: none;
    background-color: azure;
    color: #3f3f3f;
    position: absolute;
    border-radius: 30px;
    padding: 10px;
    font-size: 2.5vw;
    bottom: 20%;
    right: 20%;
    font-family: "Raleway";
    transition: ease-in-out 0.3s;
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}

.flowerbutton:hover{
    background-color: lightpink;
    color: white;
    transition: ease-in-out 0.3s;
}

.view-button{
    text-align: center;
    padding: 2vw;;
    font-family: "raleway";
    font-size: 1.5vw;
}

.view-button a{
    background-color:rgb(255, 139, 156);
    padding: 8px;
    color: white
}


.view-button a:hover{
    background-color:#f5f5f5 ;
    color: #515151;
}

.footer-list{
    padding: 20px 16px;
}

.fa-brands{

    font-size: 30px;
    text-decoration: none;
  }

  .fa-brands:hover{
    color: white;
    background-color: #1f1f1f;
  }

footer{
    font-family: "raleway";
    text-align: center;
}

.button-footer{
    padding-top: 10px;
}

.footer-list a{
    color: #3f3f3f;
    padding: 20px 20px;
}
